@using NailSalon.Core.Models
@model List<Reservation>

@foreach (var item in Model)
{
    <div class="card p-3 mb-3 shadow-sm">
        <h4>@item.Service.Name</h4>
        <p><strong>Usta:</strong> @item.Master.FullName</p>
        <p><strong>Tarix:</strong> @item.Date.ToShortDateString()</p>
        <p><strong>Saat:</strong> @item.Time</p>

        @if (item.ReservationMenu?.Any() == true)
        {
            <p><strong>Menyu seçimi:</strong></p>
            <ul>
                @foreach (var m in item.ReservationMenu)
                {
                    <li>@m.Menu.Name</li>
                }
            </ul>
        }
    </div>
}

